{% extends 'base.html' %}
{% load static %}
{% block content %}
	 <!-- section about start -->
<div class="about_section">
    <div class="about_text">
      <div class="container">
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">Acerca</span> Nuestro</strong></h1>
		     <div class="about_bt">
           <!-- Backend info-->
          {% for about in object_list %}
          <p class="magna_text"> {{about.description}}</p> 
          {% endfor %}
          <!-- fin-->
   </div>
    </div>
  </div>
  <!-- section about end -->
{% endblock %}