{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- section gallery start -->
<div class="gallery_main layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="about_taital"><strong><span style="color: #ffffff;">Nuestras</span> Mascotas</strong></h1>
          <p class="sed_text">Generamos conciencia en la adopcion responsable de los animales </p>

        </div>
      </div>
      <div class="gallery_images">
        <div class="row">
         <div class="col-sm-5">
          <div class="gallery_blog">
                         <img src="{% static 'app/images/gallery-img2.jpg' %}" style="max-width: 100%; height: 300px; width: 100%;">
                      <div class="overlay">
                          <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                      </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery_images">
        <div class="row">
          <div class="col-sm-5">
          <div class="gallery_blog">
                         <img src="{% static 'app/images/gallery-img3.jpg' %}" style="max-width: 100%; width: 100%;">
                      <div class="overlay">
                          <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                      </div>
            </div>
          </div>
          <div class="col-sm-7">
          <div class="gallery_blog">
                         <img src="{% static 'app/images/gallery-img4.jpg' %}" style="max-width: 100%; height: 300px; width: 100%;">
                      <div class="overlay">
                          <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                      </div>
            </div>
          <div class="gallery_blog">
                         <img src="{% static 'app/images/gallery-img5.jpg' %}" style="max-width: 100%; height: 297px; width: 100%;">
                      <div class="overlay">
                          <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% for pet in index %}
  <div class="gallery_section_2">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="pet_taital">{{pet.title}}</h1>
          <p class="lorem_text">{{pet.subtitle}}</p>
        <div class="banner_bt">
        <button class="dog_bt">Ver mas</button>
      </div>
   </div>
        <div class="col-sm-4">
          <div class="dog_img"><img src="{% static 'app/images/dog-img.png' %}" style="max-width: 100%;"></div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
<!-- section gallery end -->
{% endblock %}  