<div class="col-12 col-md-8">
    <div class="contact-form">
        <div class="section-heading">
            <h2>Gracias {{name}}  estaremos en contacto!</h2>
            <div class="line"></div>
        </div>
    </div>
</div>


<!---Form-->


<div>
    <form action="{% url 'contact' %}" method = "post">
    {% csrf_token %}
    <div class = "row">
        <div class="col-lg-6">
            <input type="text" name="message-name" class="form-control mb-30" placeholder="Tu nombre">

        </div>
        <div class="col-lg-6">
            <input type="text" name="message-email" class="form-control mb-30" placeholder="Tu email">

        </div>
        <div class="col-12">
            <textarea name="message" class="form-control mb-30" placeholder="Su mensaje"></textarea>

        </div>
        <div class="col-12">
            <button type="submit" class="btn dento-btn">Enviar Mensaje</button>
        </div>
        
    </div>
    

    </form>
</div>