{% extends 'base.html' %}
{% block title %}
<h2>Post</h2>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="eleven wide column">
            {% for  obj in qs %}
            <div class="ui fluid card">
                <div class="content">
                    {{ obj.content }}

                </div>
                <div class="content">
                    <form action="{% url 'liked' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        <button type="submit" class="ui primary button">
                            {% if profile not in obj.liked.all %}
                            <i class="thumbs up icon"></i>&nbsp;Me gusta
                            {% else %}
                            <i class="thumbs down icon"></i>&nbsp;No me gusta
                            {% endif %}

                        </button>
                        &nbsp;{{obj.num_likes}}
                    </form>
                
                </div>
                {% if obj.comment_set.all %}
                <div>
                    {% for c in obj.comment_set.all %}
                    <p>{{ c.body }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form  action="" method="POST" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{obj.id}}>
                    {{ c_form }}
                    <button type="submit" class="ui primary button" name="submit_c_form">comentar</button> 
                </form>
            </div>
           
            {% endfor %}
        </div>
        <div class="five wide column">
            {% if post_added %}
            <div class="ui green message">Post añadido </div>
            {% endif %} 
            <form action="" method="POST" class="ui form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ p_form }}
                <button type="submit" class="ui button positive" name="submit_p_form">Enviar Post</button>     
            </form>       
        </div>

    </div>
</div>


{% endblock %}