{% extends "base.html" %}
{% block content %}

<div class="gallery_section_2">
    <div class="container">
     </div>
        <div class="col-sm-4">
            <h2>Administrador</h2>
            <caption>Listado de Mascotas</caption>
            <table>
               <thead>
                <tr>
                    <th>Nombre </th>
                    <th> Raza</th>
                </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                  <tr>
                    <td>{{pet.name}}</td>
                    <td>{{pet.race}}</td>
                    <td><a href="{% url 'update_pet' pet.id %}"><button type="submit">Editar</button></a></td>
                   <td><a href="{% url 'delete_pet' pet.id %}"><button>Eliminar Mascota</button></a></td>
                 </tr>
                  {% endfor %}
                  </tbody>
            </table>
            <br>
            <a href="{% url 'create_pet' %}"><button>Crear Mascota</button></a>
        </div>
      </div>
    </div>
</div>

{% endblock %}